body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    display: grid;
    font-size: 2.5em;
    color: #28a745;
    /* Green color */
    font-weight: 500;
    text-shadow: 2px 2px 2px #008800, 5px 5px 5px #888888;
    /* Multiple shadows for a layered effect */
    transform: rotate(-5deg);
    /* Rotate the text slightly */
    transition: transform 0.9s ease-in-out;
    /* Add a smooth transition effect on hover */
    cursor: pointer;
    /* Change cursor on hover */
}

h1:hover {
    transform: rotate(5deg);
    /* Adjust the rotation on hover */
}

section {
    margin: 20px;
}

article {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

video {
    max-width: 100%;
    height: auto;
}


/* Add a style for the article images */

.article-image {
    max-width: 200px;
    height: auto;
}


/* Video Articles */

#videos article {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

#videos article:hover {
    transform: scale(1.02);
}

#videos article h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#videos article p {
    color: #555;
}

#videos video {
    width: 100%;
    border-bottom: 1px solid #ddd;
}


/* Quiz Styling */

.quiz-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.quiz-container:hover {
    transform: scale(1.02);
}

.quiz-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.quiz-options {
    display: flex;
    flex-direction: column;
}

.quiz-option {
    margin-bottom: 8px;
}

.quiz-option input {
    margin-right: 8px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #218838;
}


/* Footer Styling */

.footer {
    background-color: #218838;
    color: #fff;
    padding: 30px 0;
    margin-top: 50px;
    ;
}

.footer h4 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #fff;
}

.footer p {
    color: #ddd;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 8px;
}

.footer ul li a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer ul li a:hover {
    color: #fff;
}

.footer img {
    width: 80px;
    margin-right: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.footer img:hover {
    transform: scale(1.1);
}

.footer hr {
    border-color: #357835;
}

.footer p:last-child {
    margin-top: 15px;
}