body {
    background-color: #ffffff;
}

header {
    text-align: center;
    display: grid;
    color: #28a745;
    margin-bottom: 100px;
}

.show-cart li {
    display: flex;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
}

.navbar {
    background-color: #08d356a7;
    min-height: 100px;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #00d084;
    transition: color 0.3s ease-in-out;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #00ff73;
    background-color: #ffffff;
    transition: background-color 0.3s ease-in-out;
}

.footer {
    background-color: #00d084;
    color: #2b2424;
    padding: 15px 0;
}