body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #28a745;
    min-height: 100px;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #ffffff;
    background-color: #ffffff;
    transition: background-color 0.3s ease-in-out;
}

main {
    color: #ffffff;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

#waste-input,
#waste-tracking {
    background-color: #f8f9fa;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

#waste-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

label {
    margin-top: 10px;
    color: #333;
}

select,
input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#tracking-list {
    list-style: inside;
    padding: 10;
    margin: 10;
    background-color: #f8f9fa;
    /* Match the background color of the container */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#tracking-list li {
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

#tracking-list li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label,
input,
select,
button {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}